name: Build and Deploy Docs

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    # Note that this workflow uses the latest stable version of the Dart SDK.
    # Docker images for other release channels - like dev and beta - are also
    # available. See https://hub.docker.com/r/cirrusci/flutter for the available
    # images.
    container:
      image:  cirrusci/flutter:latest

    steps:
      
      - name: Print Flutter version
        run: which flutter
        
      - name: Checkout Repo
        uses: actions/checkout@v2
        
      - name: Install dependencies
        run: flutter pub get

      - name: Build docs
        run: dartdoc

      - run:
          name: Deploy to GitHub Pages
          command: gh-pages --dist docs/api/
          
